.main-header {
    display: block;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    padding: 0 32px;
    padding-left: 64px;
    padding-right: 64px;
}

.list-container {
    display: flex;
    width: 100%;
    gap: 32px;
    box-sizing: border-box;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.compareList-container {
    flex: 0 0 40%;
    max-width: 40%;
    box-sizing: border-box;
}

.regulation-container {
    flex: 0 0 60%;
    max-width: 60%;
    box-sizing: border-box;
}

.imageGraph-container {
    display: flex; 
    width: 100%; 
    gap: 32px;
    box-sizing: border-box;
    padding: 64px;
    justify-content: flex-start;
    align-items: flex-start;
}

.buildingImage-container {
    flex: 1; 
    max-width: 50%;
    box-sizing: border-box; 
}

.energySavingsGraph-container {
    flex: 1; 
    max-width: 50%;
    box-sizing: border-box;
}

.subHeaderElement-container {
    display: flex; 
    width: 100%; 
    gap: 32px;
    box-sizing: border-box;
    padding: 32px 64px 32px 64px; 
}

.subHeaderElementLeft-container {
    flex: 0 70%; 
    display: flex;
    align-items: center;
}

.subHeaderElementRight-container {
    flex: 0 30%;
    display: flex;
    align-items: center;
    gap: 64px; 
    justify-content: flex-end;
}

.downloadButton-container {
    flex: 0 0 10%;
    max-width: 10%;
    box-sizing: border-box;
}

.searchBar-container {
    flex: 90%; 
    max-width: 90%;
    box-sizing: border-box;
}

.tab-container {
    flex: 1; 
    max-width: 100%;
    box-sizing: border-box;
}

.buildingInformation-container {
    display: flex;
    width: 100%;
    gap: 32px;
    box-sizing: border-box;
    padding-left: 64px;
    padding-right: 64px;
}

.infoAddress-container,
.infoYear-container,
.infoBvsR-container {
    flex: 0 0 32%;
    max-width: 32%;
    box-sizing: border-box;
}

.lineGraph-container {
    padding: 5rem; 
}





@media (max-width: 400px){
    .compareList-container {
        flex-direction: column;
    }

    .buildingImage-container {
        flex-direction: column;
    }

    .buildingInformation-container {
        flex-direction: column;
    }
}